@charset "UTF-8";

@import url(font-awesome.min.css);

/* Reset */
body {
	background-color: #000;
	background-image: url("../../images/bg.jpg");
	background-size: cover;
	background-position: top center;
}

#wrapper {
	max-width: 68em;
	width: 100%;
	margin: 0 auto;
	padding: 0 2em;
	opacity: 1;
	filter: none;
	-moz-transition: opacity 1s ease, -moz-filter 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
	-ms-transition: opacity 1s ease, -ms-filter 1s ease;
	transition: opacity 1s ease, filter 1s ease;
}

.error {
	font-size: 0.8em;
	color: red;
	width: 300px;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, span {
		color: #ffffff;
		font-weight: 200;
		line-height: 1.5;
		margin: 0 0 1em 0;
}

/* Header */
#header {
	text-align: center;
	padding: 1em 0 0 0;
}

/* Section */
#uploadSection {
	display: flex;
	padding: 0 1em 0 1em;
	width: 80%;
	height: 200px;
	color: #FFFFFF;
	background-color: #6E6E6E;
	align-items:center;
	justify-content: center;
	margin-left: 10%;
}

#uploadSection div {
	width: 100%;
}

#uploadSection div #fileDiv{
	display: block;
	border: 1px solid black;
}

#uploadSection div div{
	display: block;
}

#multipleContainerSection {
	display: block;
    padding: 0 10% 0 10%;
}

#multipleContainerSection div {
	display: block;
}

#inputSection {
	display: block;
}

#inputSection div {
	text-align: center;
}

#inputSection > .inputText > input{
	width : 80%;
	height : 40px;
}

#inputSection > .inputText > textarea{
	width : 80%;
	height : 300px;
}

#inputSection > .radio > input{
	height : 20px;
	width : 20px;
}

/* footer */
#footer {
	text-align: center;
	padding: 6em 0 4em 0;
}

/* ETC */
/*.badge:before{*/
[class*='badge']{
	content: "#"
}

/*.badge {*/
[class*='badge']{
	display: inline-block;
	min-width: 10px;
	padding: 4px 7px;
	font-size: 12px;
	font-weight: 550;
	line-height: 1;
	color: #2f2f2f;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #ececec;
	border-radius: 5px;
	margin-right: 8px;
}
.bootstrap-tagsinput{	
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	
}

.xClass{
 	font-size: 10px;
	color: #777;
	margin-left: 4px;
	cursor: pointer;
	padding: 3px;
}

/* 미리보기 썸네일 이미지 상단에 X표시 버튼 위치를 위한 CSS */
.thumbnails > div > div{
	position:relative;
}
.thumbnails > div > div> :last-child{
	position: absolute;
	right: 0px;
	bottom: 130px;
	background-color: rgba(0,0, 0,0);
	border: 0;
}
.thumbnails > div > :last-child {
	margin-bottom: 0;
}
