@charset "UTF-8";

body {
	background-color: black;
	background-image: url("../../images/bg.jpg");
	background-size: cover;
	background-position: top center;
}

.layer {
	position: absolute;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.intro_span {
	color : white; 
}

.layer .layer_inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.layer .content {
	display: inline-block;
}

.login_table tr {
	height: 15px;
}

.login_table td {
	text-align: center;
	height: 15px;
}

.login_table {
	margin: auto;
}

.input_login {
	font-size: 15px;
	border: 0px;
	background: white;
	outline: none;
	width: 300px;
	height: 40px;
	border-bottom: 1px solid silver;
	ime-mode: disabled;
	size: 25;
	text-align: left;
}

.input_msg {
	font-size: 15px;
	padding: 1 3 0 2;
	border: 0px;
	background: #ffffff;
	outline: none;
	ime-mode: disabled;
	resize: none;
}

.Button-LOGIN {
	background-color:white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 2px solid silver;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 24px;
	text-decoration: none;
	outline: none;
	width: 304px;
	height: 40px;
}

.a-JOIN {
	background-color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 2px solid silver;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	outline: none;
	width: 300px;
	height: 40px;
	line-height: 40px;
}

.Button-LOGIN:hover {
	background-color: silver;
	color: white;
}

.Button-LOGIN:active {
	position: relative;
	top: 1px;
}

.a-JOIN:hover {
	background-color: silver;
	color: white;
}

.a-JOIN:active {
	position: relative;
	top: 1px;
}

.error {
	font-size: 15px;
	color: red;
	text-align: center;
}

.logout {
	font-size: 15px;
	color: blue;
	text-align: center;
}